<!DOCTYPE html>
<html>
	<head>
		<title>results</title>
		<meta charset="utf-8">
	</head>
	<body>
		<h1>test</h1>
  		<% for(var i in user){ %>
  			<h3><%= user[i].name %></h3>
  			<h3><%= user[i].age %></h3>
  			<hr>
  		<% } %>
  		<h1>users under 20</h1>
	</body>
</html>