<!DOCTYPE html>
<html>
<head>
	<title>Results</title>
</head>
<body>
	<h3>Submitted Info:</h3>
	<p>Name:<%= name %></p>
	<p>Dojo Location:<%= dojo_location %></p>
	<p>Favorite Language:<%= favorite_language %></p>
	<p>Comment:<%= comment %></p>
	<form action="/" method="get">
		<input type="submit" value="go back">
	</form>
</body>
</html>