<!DOCTYPE html>
<html>
	<head>
		<title>New car</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<style type="text/css">
			h1 {
				color:pink;
				margin-left: 115px;
			}
			.form-control {
				width: 100px;
			}
			#piff {
				border: 2px solid black;
				width: 100px;
				height: 100px;

			}
		</style>
	</head>
	<body>
		<h1>Add new car</h1>
		<form class="form-horizontal">
		  <div class="form-group">
		    <label for="car" class="col-sm-2 control-label">Car</label>
		    <div class="col-sm-10">
		      <input type="car" class="form-control" id="car" placeholder="car">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="color" class="col-sm-2 control-label">Color</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="color" placeholder="color">
		    </div>
		  </div>
		  <div class="form-group">
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-default">Sign in</button>
		    </div>
		  </div>
		</form>
		<div id="piff">
			
		</div>
	</body>
</html>
		