<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Car</title>
  </head>
  <body>
    <h1>New Car</h1>
    <form action="/cars" method="post">
      <label for="name">Name: <input type="text" name="name"></label>
      <br/>
      <label for="make">Make: <input type="text" name="make"></label>
      <br/>
      <label for="model">Model: <input type="text" name="model"></label>
      <br/>
      <label for="year">Year: <input type="text" name="year"></label>
      <br/>
      <input type="submit" value="Add Car">
    </form>
  </body>
</html>
