<!DOCTYPE html>
<html>
	<head>
		<title>Modules practice</title>
		<meta charset="utf-8">
	</head>
	<body>
		<form action='/quotes' method="post">
			<label for="name">Name: <input type="text" name="name"></label>
			<label for="quote">Quote:<textarea name="quote"></textarea></label>
			<input type="submit" name="quote_button">
			<a href="/main" role='button'>To the quotes</a>
		</form>
	</body>
</html>