<!DOCTYPE html>
<html>
	<head>
		<title>Modules practice</title>
		<meta charset="utf-8">
	</head>
	<body>
		<h2>Quotes</h2>
		<% for(var i = 0; i < quotes.length; i++) { %>
			<h3>Name: <%= quotes[i].name%></h3>
			<h3>Quote: <%= quotes[i].quote%></h3>
		<% } %>
	</body>
</html>