<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show Mongoose</title>
  </head>
  <body>
    <h1>Mongoose Data</h1>
    <p>Name: <%= mongoose.name %></p>
    <p>Desc: <%= mongoose.desc %></p>
    <a href="/">Back</a>
    <a href="/mongooses/edit/<%= mongoose._id %>">Edit</a>
  </body>
</html>
