<div ng-controller="ProductsController as PC">

  <a href="#" ng-click="UC.logout()">Log Out</a>
  <hr>
  
  <ul ng-init="UC.check(); PC.index()">
    <li ng-repeat='error in PC.errors'>{{error}}</li>
  </ul>

  <form ng-submit="PC.create(PC.newProduct)">
    <p>Add a New Product</p>
    Name: <input type="text" ng-model="PC.newProduct.name"><br>
    Image (url): <input type="text" ng-model="PC.newProduct.imageUrl"><br>
    Description: <textarea rows="4" cols="40"ng-model="PC.newProduct.description"></textarea><br>
    Initial Quantity: <input type="number" ng-model="PC.newProduct.quantity"><br>
    <input type="submit" value="Create">
  </form>
  <hr>
  <br>


  <label>Filter name: <input type="text" ng-model="filterName.name"></label><br>
  <br>

  <div ng-repeat="product in PC.products | filter:filterName:strict">
    <!-- <img src="{{ product.imageUrl }}" alt="img"> -->
    / / / image placeholder / / /
    <p>{{ product.name }}  ({{ product.quantity }} left)</p>
    <button ng-click="PC.destroy(product._id)">Remove</button>
    <br>
    <br>
  </div>

</div>
