<!DOCTYPE html>
<html>
<head>
	<title>Quoting Dojo</title>
</head>
<body>
	<h1>Welcome to QuotingDojo</h1>
	<form action="/quotes" method="post">
		<label>Your Name:</label>
		<input type="text" name="name">
		<label>Your Quote:</label>
		<textarea type="text" name="quote"></textarea>
		<input type="submit" value="Add My Quote!">
	</form>
	<a href="/quotes" method='get'>Skip to Quotes!</a>
</body>
</html>