table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
td, th {
    border: 1px solid #CCC;
}
input {
    display: inline-block;
}
button {
	float: right;
}
fieldset {
	padding: 10px;
}
body {
	padding: 20px;
	border: 2px solid black;
	width: 50%;
}
a {
	padding: 10px;
}