<!DOCTYPE html>
<html>
<head>
	<title>Edit Mongoose</title>
</head>
<body>
	<h2>Edit the mongoose</h2>
	<form action="/mongooses/<%= mongoose._id %>" method="post">
		<label>Name:</label>
		<input type="text" name="name" value="<%= mongoose.name %>">
		<label>age:</label>
		<input type="text" name="age" value="<%= mongoose.age %>">
		<label>favorite food:</label>
		<input type="text" name="favorite_food" value="<%= mongoose.favorite_food %>">
		<input type="submit" value="edit the mongoose!">
	</form>
	<a href="/">Go to dashboard</a>
</body>
</html>